<div style="height: 100px; background-color: #000;">
	<img style="margin: 0 auto; width: 300px;" class="ui small image" src="/images/logo-light.png">
</div>

<div style="width: 100%; text-align: center;">
	<div style="margin-top: 20px; text-align: center;">
		<a ng-href="/user">
			<div style="cursor: pointer; border: 1px solid #000; display: inline-block; margin: 5px; margin: 0 auto;">
				<i style="margin: 0 auto;" class="user icon"></i>
			</div>
		</a>
		<div ng-href="/dashboard" style="cursor: pointer; background-color: #000; color: #fff; border: 1px solid #000; display: inline-block; margin: 5px; margin: 0 auto;">
			<i style="margin: 0 auto;" class="list icon"></i>
		</div>
	</div>

	<div style="border: 1px solid #000; overflow: auto; width: 70%; text-align: center; margin: 0 auto; margin-top: 20px;" ng-repeat="channel in channels | orderBy:'serviceId'">
		<div style="background-color: rgba(179, 179, 179, 0.2); height: 200px;">
			<div style="display: inline-block; float: left;">
				<img class="ui image" style="width: 300px; height: 200px;" src="/images/stream/{{ channel.serviceId }}.jpg?{{ today }}">
			</div>

			<div style="display: inline-block; text-align: left; width: 64%;">
				<div style="font-size: 30px;">
					{{ channel.name }}
				</div>
				<div style="font-size: 20px;" class="now">
					<strong>Now:</strong> {{ channel.now.title }}
				</div>
				<div style="font-size: 20px;" class="next">
					<strong>Next:</strong> {{ channel.next.title }}
				</div>
				<div style="font-size: 20px;" class="next">
					<strong>Viewers:</strong> 1
				</div>
			</div>
		</div>
		<div style="background-color: #FFF;">
			<div style="text-align: center; margin: 10px;" ng-repeat="category in channel.categories | orderBy:'-occurences' | filter: greaterThan('occurences', 0) | limitTo:10">
				<div style="display: inline-block; width: 100%; margin: 0 auto;">
					<div style="width:80%; margin: 0 auto;" class="ui progress" id="example1">
						<div style="width: {{ ((category.occurences / channel.categoriesOccurences) * 100) }}%" class="bar"></div>
						<div class="label"><strong>{{ category.keyword }}</strong> {{ category.occurences }} approx. occurences</div>
					</div>
				</div>

				<div style="display: inline-block; width: 75%;">

				</div>
			</div>
		</div>
	</div>
</div>
